---
- name: Disable root SSH
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^PermitRootLogin'
    line: 'PermitRootLogin no'

- name: Restart SSH
  service:
    name: sshd
    state: restarted

- name: Enable firewalld
  service:
    name: firewalld
    state: started
    enabled: yes
